.custom-button {
    width: 50%;
}

#time_event {
    margin-bottom: 10px;
}

#event-planner {
    display: none;
}

#time-converter .border-right {
    border-right: 1px solid lightgrey;
}

#time-converter .border-left {
    border-left: 1px solid lightgrey;
}

.autocomplete {
    position: relative;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.au-list div {
    text-align: left;
    position: relative;
}

.au-list span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.au-list img {
    vertical-align: middle;
    float: right;
    width: 25px;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

#times-ul {
    width: 50%;
    margin: auto;
    padding: 0;
    display: none;
}

.times-li {
    width: 100%;
    list-style-type: none;
    padding: 30px 0;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
    user-select: none;
}

.times-li > .row > div {
    text-align: center;
}

.times-li > .row > div:first-child {
    text-align: left;
    padding-left: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.times-li img {
    width: 35px;
    padding-right: 5px;
}

.delete-time {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

#success-alert {
    display: none;
}

.au-list span {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#ui-id-3 .au-list span {
    max-width: 280px;
}

.times-input {
    display: inline-block;
    background-color: transparent;
    border: none;
    text-align: center;
}

.times-input:focus {
    background-color: white;
}

.times-time {
    max-width: 80px;
}

.times-date {
    max-width: 150px;
}